---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Letterbox is a sleek landing page template designed for micro SaaS products, built with AstroJS"/>
		<title>{title}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-lb{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

	:root {
		--accent: #47c6a2;
    --dark: #000;
    --tenary: #fffaf0;
		--base-font: 'Inter', sans-serif;
	}
	html, body {
		font-family: var(--base-font);
		margin: 0px;
		scroll-behavior: smooth;
    background-image: linear-gradient(to top, #ffecbb 0%, white 100%);
	}


  ::selection{
    background: #fffaf0;
    color: #191919;
  }

	.block{
	  display: block;
	}

  .flex{
    display: flex;
    &.center{
      justify-content: center;
    }
  }
.text-container{
  max-width: 600px;
  margin: 50px auto;
}
.hero-title, .h2-title, .s-subtitle, .l-subtitle, .subtitle{
  font-weight: 700;
}

.main-title{
  font-size: 4rem;
}
.h2-title{
  font-size: 3.2rem;
}
.l-subtitle{
  font-size: 1.9rem;
}

.s-margin{
  margin-bottom: 5px;
}
.m-margin{
  margin-bottom: 2rem;
}

.md-width{
  width: 300px;
}
.s-paragraph{
  font-size: 1.3rem;
}
p{
  font-size: 1.8rem;
}

.button{
  border-radius: 8px;
  &.button-primary, &.button-primary:hover,  &.button-primary:focus{
    background: var(--accent);
    border: var(--accent);
  }
  .button-outline{
    border-color: var(--accent);
  }
  &:hover{
    opacity: .8;
  }
}

section{
  padding: 70px 0;
}

.center{ 
    text-align: center; 
}

.product-cta{
  max-width: 250px;
  margin: 0 auto;
  .button{
    margin-bottom: 3px;
  }
}

</style>
